<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css"  >
</head>
<body>
<div class="navbar" >

<div style="   width: 100%; display: table;">
    <div style="   display: table-row">
        <div class="box" style=" display: table-cell;">
            <div class="subnav">
                    <a  class="button" href="#popup1"><div >فهرست</div> </a>

            </div>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Here I am</h2>
                        <a class="close" href="#">&times;</a>
                    </div>
                </div>
            </div>

        <div class="box" style="display: table-cell;">

                <a class="button" href="#popup2">تجارب من</a>


            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>Here I am</h2>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
        </div>

        <div class="box" style="display: table-cell;">

                <a class="button" href="#popup3">تحصیلات من </a>


            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2>Here I am</h2>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
        </div>

        <div  class="box" style="display: table-cell;">

                <a class="button" href="#popup4">ارتباط با من</a>


            <div id="popup4" class="overlay">
                <div class="popup">
                    <h2>Here I am</h2>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
        </div>

        <div class="box" style="display: table-cell;">

                <a class="button" href="#popup5">رزومه</a>


            <div id="popup5" class="overlay">
                <div class="popup">
                    <h2>Here I am</h2>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
        </div>

        <div style=" width: 50% ;  display: table-cell;">

        </div>


        <div class="box" style="display: table-cell;">

                <a class="button" href="#popup6">درباره من</a>

            <div id="popup6" class="overlay">
                <div class="popup">
                    <h2>Here I am</h2>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
        </div>


    </div>


</div>

</div>
<div class="subnavc">
    <a class="snb" href="#myex">تجارب من</a> <br>
    <a class="snb" href="#myedu">تحصیلات من</a><br>
    <a class="snb" href="#cv">رزومه</a>
</div>
</div>
<div id="pointer"> وب آموز </div>
<div id="todown" style="direction: rtl ; text-align: center"> <a href="#myex"> <img src="1.png" style="width: 30px;height: 30px"> </a></div>

<div style="display: table">
    <div style="display: table-row">


        <div style="width: 26% ; display: table-cell; background-color: white ; opacity: 90%">
            <div id="lefttip">
            <h3 class="tooltip">راهنمایی</h3>
                <span class="tooltiptext">این متن تول تیپ است.</span>

                <p style="direction: rtl; font-family: 'B Nazanin'">این وبسایت برای آموزش طراحی شده است و تنها جهت ارائه به منتور محترم می باشد.</p>
            </div>
        </div>



        <div style="width: 60% ; display: table-cell; background-color: blue ">
            <div  class="maintext"><div class="submaintext"><h2>لذت یادگیری!</h2></div> <div class="submaintext">برای آموختن هیچ وقت دیر نیست</div>  <div class="submaintext">همین امروز شروع کن</div> </div>
            <div id="myex" class="maintext"><div class="submaintext"><h2>تجارب من</h2></div> <div class="submaintext">برای آموختن هیچ وقت دیر نیست!</div>  <div  class="submaintext">همین امروز شروع کن</div> </div>
            <div id="myedu" class="maintext"><div class="submaintext"><h2>تحصیلات من</h2></div> <div class="submaintext">برای آموختن هیچ وقت دیر نیست!</div>  <div class="submaintext">همین امروز شروع کن</div> </div>
            <div id="cv" class="maintext"><div class="submaintext"><h2>رزومه</h2></div> <div class="submaintext">برای آموختن هیچ وقت دیر نیست!</div>  <div class="submaintext">همین امروز شروع کن</div> </div>
        </div>



        <div style=" background-color: white ; opacity: 90% ;width: 14% ; display: table-cell;">
            <ul style="list-style: none ">
        <li class="rightmenu" >
            <a style="text-decoration: none" href="#myex">تجارب من</a>
        </li>
         <li class="rightmenu">
             <a style="text-decoration: none" href="#myex">تحصیلات من</a>
         </li>
         <li style="text-decoration: none" class="rightmenu">
             <a style="text-decoration: none" href="#myex">رزومه من</a>
         </li>
         <li class="rightmenu">
             <a style="text-decoration: none" href="#myex">ارتباط با من</a>
         </li>
            </ul>
        </div>

    </div>
</div>
<div class="footer">
    <br>
    <p style="margin-top: 20px">این وبسایت  به منظور تمرین می باشد.</p>

</div>

<div class="toup"><a href="#pointer"><img src="2.png"  style="width: 50px; height: 50px"></a> </div>
</body>
</html>